<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="styles.css">
  <title>Paint Mix Recipies</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <a class="navbar-brand" href="#">{{homepage_title}}</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/.auth/login/facebook">Login</a>
          </li>
          <!-- li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Action 1</a>
            <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </li-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" v-model="searchTerm">
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" v-on:click="searchSwatch">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid" style="flex-flow: row wrap;">
      <pre>{{ user_info }}</pre>
      <div class="row">
        <recipie-swatch v-for="(swatch, index) in recipies" v-bind:swatch="swatch" v-bind:index="index"
          v-bind:in_gramm="in_gramm" v-bind:delete_swatch="delete_swatch" v-bind:key="index" inline-template>
          <div class="card" style="width: 200px; margin: 5px">
            <div class="card-img-top" v-bind:style="{backgroundColor: swatch.rgb_value}">
              <div style="height: 125px">&nbsp;</div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ swatch.name }}</h5>
              <p class="card-text" style="font-size: 0.7em">
              <table style="width:100%;">
                <tr>
                  <td style="width: 25%; text-align: center; background-color:rgb(0,255,255)">{{ swatch.cyan_pct }}%
                  </td>
                  <td style="width: 25%; text-align: center; background-color:rgb(255,0,255)">{{ swatch.magenta_pct }}%
                  </td>
                  <td style="width: 25%; text-align: center; background-color:rgb(255,255,0)">{{ swatch.yellow_pct }}%
                  </td>
                  <td style="width: 25%; text-align: center; background-color:rgb(0,0,0); color: #fff">
                    {{ swatch.black_pct }}%</td>
                </tr>
              </table>
              </p>
              <p class="card-text" style="font-size: 0.7em">
              <table style="width:100%;">
                <tr>
                  <td style="width: 25%; text-align: center; background-color:rgb(0,255,255)">
                    {{ in_gramm (swatch.cyan_pct,10) }}g</td>
                  <td style="width: 25%; text-align: center; background-color:rgb(255,0,255)">
                    {{ in_gramm (swatch.magenta_pct,10) }}g</td>
                  <td style="width: 25%; text-align: center; background-color:rgb(255,255,0)">
                    {{ in_gramm (swatch.yellow_pct,10) }}g</td>
                  <td style="width: 25%; text-align: center; background-color:rgb(0,0,0); color: #fff">
                    {{ in_gramm (swatch.black_pct,10) }}g</td>
                </tr>
                <tr>
                  <td style="width: 25%; text-align: center; background-color:white">
                    {{ in_gramm (100-swatch.cyan_pct,10) }}g</td>
                  <td style="width: 25%; text-align: center; background-color:white">
                    {{ in_gramm (100-swatch.magenta_pct,10) }}g</td>
                  <td style="width: 25%; text-align: center; background-color:white">
                    {{ in_gramm (100-swatch.yellow_pct,10) }}g</td>
                  <td style="width: 25%; text-align: center; background-color:white; ">
                    {{ in_gramm (100-swatch.black_pct,10) }}g</td>
                </tr>
              </table>
              </p>
              <button class="btn btn-danger btn-sm btn-block" @click="delete_swatch(index)"><i
                  class="fa fa-trash"></i></button>
            </div>
          </div>
        </recipie-swatch>
        <div class="card" style="width: 200px; margin: 5px">
          <div src="https://via.placeholder.com/200x125.png?text=New+Swatch" class="card-img-top"
            :style="{backgroundColor: rgb_value, height:'125px'}" alt="...">&nbsp;
          </div>
          <div class="card-body">
            <h5 class="card-title"><input id="swatch-input" class="form-control form-control-md" type="text"
                v-model="newSwatch.name" style="width: 170px;">
            </h5>
            <p class="card-text" style="font-size: 0.7em">
            <table style="width: 100%; margin-bottom: 10px;">
              <tr>
                <td><input id="c-input" class="form-control form-control-sm" type="text" v-model="newSwatch.cyan_pct"
                    style="font-size: 0.7em; width:40px; background-color: rgb(0, 255, 255)">
                </td>
                <td><input id="m-input" class="form-control form-control-sm" type="text" v-model="newSwatch.magenta_pct"
                    style="font-size: 0.7em; width:40px; background-color: rgb(0255, 0, 255)">
                </td>
                <td><input id="y-input" class="form-control form-control-sm" t ype="text" v-model="newSwatch.yellow_pct"
                    style="font-size: 0.7em; width:40px; background-color: rgb(255, 255, 0)">
                </td>
                <td><input id="k-input" class="form-control form-control-sm" type="text" v-model="newSwatch.black_pct"
                    style="font-size: 0.7em; width:40px; background-color: rgb(0, 0, 0); color: white;"></td>
              </tr>
            </table>
            <button class="btn btn-primary btn-sm btn-block" style="margin-top: 40px;"
              v-on:click="addSwatch">Add</button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="index.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>